@import "tailwindcss";

@font-face {
  font-family: 'Urbanist';
  src: url('./assets/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'UrbanistRegular';
  src: url('./assets/fonts/Urbanist-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'GilroyLight';
  src: url('./assets/fonts/Gilroy-Light.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@layer base {
  * {
    @apply box-border;
  }



  body {
    @apply m-0 min-h-screen antialiased;
  }
}

@layer utilities {
  .card-group:hover svg {
    fill: rgb(255, 255, 255);
    background-color: rgb(252, 27, 27);
    border-radius: 100%;
  }
}